@model MyPortfolio_MVC.Models.Education

@{
    ViewBag.Title = "Eğitim Düzenle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Eğitim Düzenle</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="SchoolName">Okul Adı</label>
        @Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SchoolName)
    </div>

    <div class="form-group">
        <label for="Department">Bölüm</label>
        @Html.TextBoxFor(x => x.Department, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Department)
    </div>

    <div class="form-group">
        <label for="StartDate">Başlangıç Tarihi</label>
        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(x => x.StartDate)
    </div>

    <div class="form-group">
        <label for="EndDate">Bitiş Tarihi</label>
        @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(x => x.EndDate)
    </div>

    <div class="form-group">
        <label for="Description">Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>

    <div class="form-group">
        <label for="Degree">Derece</label>
        @Html.DropDownListFor(x => x.Degree, new SelectList(new[]
        {
            "Önlisans",
            "Lisans",
            "Yüksek Lisans",
            "Doktora"
        }), "Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Degree)
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
}
