@model MyPortfolio_MVC.Models.Message

<section id="contact" class="s-contact target-section">
    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle with-line">
                MESAJ GÖNDERİN
            </h2>
            <p class="h1">
                Görüşlerinizi duymaktan memnun olurum.
            </p>
        </div>
    </div> <!-- end contact-top -->
    <!-- Success or Error Messages -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row contact-bottom">
        <div class="column">
            <label>Ad Soyad</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
        </div>

        <div class="column">
            <label>Email</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>

        <div class="column">
            <label>Konu</label>
            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
        </div>

        <div class="column lg-12">
            <label>Mesajınız</label>
            @Html.TextAreaFor(x => x.MessageContent, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(x => x.MessageContent, "", new { @class = "text-danger" })
        </div>

        <div class="column lg-12">
            <button type="submit" class="btn btn-outline-dark">Mesajı Gönder</button>
        </div>
    </div>


</section>
